
<div id="comedian-card" >
<% @comedians.each do |comedian| %>


  <div class="wrapper">
    <div class="img-area">
      <div class="inner-area">
        <%random_image = ["comedian1.png","comedian2.png","comedian3.png"].sample %>
        <img src="<%= image_url(random_image)%>" alt="comedian">
      </div>
    </div>

    <div class="name"><%=comedian.firstName%> <%=comedian.lastName%></div>

    <div class="about">Age : <%=comedian.age%> Years</div>

    <div class="buttons">
      <button>Show event</button>

    </div>

  </div>
<% end %>
</div>
