.event-container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
} 
//.card{
 // display:flex;
 // flex-direction: column;
 // justify-content: center;
 // margin: 20px;
 // width: 18rem;
 // border-radius: 8px;
 // box-shadow: 8px 8px 8px grey;
 // padding: 20 px;
//}
//.card-link{
 // object-fit:20px;
 // font-size: large;
 // font-style: italic;
  //border-bottom-left-radius: 15px;
//}



.card-product {
  margin: 20px;
  width: 500px;
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 5px 8px 25px rgba(0,0,0,0.3);
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  p{
    font-family:'Nunito';
    line-height: 1,6;
    text-shadow: 4px 6px 12px rgba(0,0,0,0.3);
  }
h2{
  font-family: 'Nunito';
  font-size: 22px;
  font-weight: 500;
}
h6{
  font-family: monospace;
  font-size: 14px;
  font-weight: 400;
}
  padding: 16px;
  width:100%;
}
.link-container{
  display:flex;
  width:100%;
  justify-content: space-between;
  bottom: 12px;
  margin-top: 22px;
  margin-bottom: -4px;
  a.card-link{
    background-color:#e876cd;
    color: white;
    padding:8px 16px;
    border-radius: 16px;
    text-decoration: none;
  
  }
  a.card-link1{
    background-color:#65d1e6;
    color: white;
    padding:8px 16px;
    border-radius: 16px;
    text-decoration: none;
  
  }

}

